.button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  letter-spacing: 1px;
  cursor: pointer;
}

.crud-add {
  background-color: dodgerblue;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.crud-update {
  background-color: lightgrey;
  width: 150px;
}
.crud-delete {
  border: 1px solid red;
  background-color: white;
  color: red;
  width: 150px;
}
.crud-get {
  color: whitesmoke;
  background-color: rgb(176, 207, 224);
  border: none;
  font-weight: 600;
}
.crud-get:hover {
  color: dodgerblue;
  background-color: whitesmoke;
}
