table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 80%;
  margin: 70px auto 50px auto;
}
th,
tr,
td {
  border-bottom: 1px solid black;
  text-align: left;
  padding: 5px;
}
.data-row:hover {
  background-color: lightgray;
  cursor: pointer;
}
.secondColumn {
  border-left: 1px solid black;
}
.singlePatient:hover {
  cursor: pointer;
  background-color: gold;
}

#pageContent {
  display: flex;
  flex-direction: column;
}
