.formDisplay {
  border: 4px solid dodgerblue;
  border-radius: 5px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  z-index: 1;
  background-color: whitesmoke;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px -3px 4px rgb(245, 200, 158);
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  align-self: center;
}
.inputField {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0px;
  border-bottom: none;
}
h3 {
  text-align: center;
  color: dodgerblue;
  letter-spacing: 1px;
}

.addModalBtn {
  margin-top: 10px;
  border: 2px solid dodgerblue;
  color: dodgerblue;
  background-color: white;
  border-radius: 5px;
  letter-spacing: 1px;
  padding: 5px;
}
.addModalBtn:hover {
  border: 2px solid rgb(245, 200, 158);
  cursor: pointer;
  color: rgb(245, 200, 158);
}
input,
select {
  color: rgb(78, 77, 77);
  height: 30px;
  padding: 5px;
  border-color: darkgrey;
  border-radius: 5px;
}

#closeModalBtn {
  color: darkgrey;
  font-size: 24px;
  text-align: center;
  align-self: flex-end;
}
#closeModalBtn:hover {
  color: rgb(177, 28, 28);
  cursor: pointer;
}
