.patientNotesContent {
  text-align: center;
}
.patientNotesTable {
  width: 600px;
}
.firstColumn {
  width: 100px;
}
.createNoteButtonDiv {
  text-align: center;
  margin-top: 60px;
}
.emptyArray {
  margin: 100px 100px 20px 100px;
}
.iconCell {
  width: 30px;
}

.noteIcons {
  height: 15px;
  width: 15px;
  padding: 5px;
  border-radius: 8px;
}
.updateNote:hover {
  background-color: gold;
}
.deleteNote:hover {
  background-color: red;
}
@media (max-width: 1100px) {
  .patientNotesTable {
    margin: 0px auto 50px auto;
  }
  .emptyArray {
    margin: 20px auto;
  }
}

@media (max-width: 700px) {
  .patientNotesTable {
    width: 400px;
  }
  .emptyArray {
    width: 300px;
  }
}
@media (max-width: 450px) {
  .patientNotesTable {
    width: 350px;
  }
}
